/*index principal*/
.imagenprincipal{
  height: 400px;
  width: 305px;
  margin: 5px 10px 15px 20px;
  float: left;
  align-content:left;
  border-radius: 15px;
  border:rgb(39, 69, 116);
  border-style:   groove;
  border-width: 7px;
}
.bodyprincipal{
  background-image: url(/cuer.jpg);
  background-size: cover;
}



p{
  text-align: justify;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 25px;
}

.pie{
  margin: 25px;
  background-color: rgba(4, 13, 31, 0.637);
  border-radius: 15px;
}

.tituloprincipal{
  color:rgb(51, 11, 59);
  text-align: center;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h2sec{
  font-size: 30px;
  text-align: center;
  color: 	rgb(22, 46, 61);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.letra{
  font-size: 50px;
}

.celdas{
  margin: 0px 25px;
  text-align: center;
  background-image: url(/enc);
  color: white;
  border-radius: 15px;
}
.divtitulo{
  background-color: rgb(92, 115, 126);
  border-radius: 15px;
  border:rgba(71, 86, 109, 0.733);
  border-style:solid;
  border-width: 2px;
  margin: 20px 10px;

}
a{
  color: white;
  margin: 15px 10px;
  font-size: 17px;
  text-decoration:none;
  
}

nav{
  height: 40px;
  background-color: rgb(50, 65, 94);
  border-radius: 15px;
  border:rgb(71, 86, 109);
  border-style:solid;
  border-width: 2px;
}

.tabla{
  margin: 0px 120px;
  font-size: 20px;
  font-family: cursive;
}

/*resena de Bon Bon*/
.divtitulobon{
  background-color: rgb(22, 71, 94);
  border-radius: 15px;
  border:rgba(33, 71, 129, 0.733);
  border-style:solid;
  border-width: 2px;
  margin: 20px 10px;

}
.tituloprincipalbon{
  color:rgb(42, 184, 219);
  text-align: center;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.parrafocuento{
  font-style: italic;

}

.acuento{
  color: blueviolet;
}

.bodybon{
  text-align: justify;
  background-image: url(/azul.jpg);
  background-size: cover;
}

.divbon1{
  background-color: cadetblue;
  float: left;
  width: 70%;
  margin:  50px 20px 50px 50px;
  border-radius: 15px;
  border:rgb(0, 0, 0);
  border-style: solid;
  border-width: 4px;
}

.divbon2{
  background-color: rgb(10, 48, 70);
  margin: 15px 50px 0px 50px;
  border-radius: 15px;
  border:rgb(76, 155, 207);
  border-style: solid;
  border-width: 4px;
}
.libon{
  color: white;
  margin: 10px 25px;
}
.h2bon{
  text-align: center;
  font-size: 30px;
  color: aqua;
}
.imgbon{
  margin: 80px 0px;
  width: 300px;
  height: 420px;
  border-radius: 15px;
  border:rgb(18, 110, 95);
  border-style:   groove;
  border-width: 7px;
}
/*resena del diablo campanario*/

.divtitulocamp{
  background-color: rgb(21, 64, 119);
  border-radius: 15px;
  border:rgba(47, 105, 192, 0.733);
  border-style:solid;
  border-width: 2px;
  margin: 20px 10px;

}
.tituloprincipalcamp{
  color:rgb(255, 255, 255);
  text-align: center;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.acuento{
  color: blueviolet;
}

.bodycamp{
  text-align: justify;
  background-image: url(/text.jpg);
  background-size: cover;
}

.divcamp1{
  background-color: rgb(98, 149, 214);
  float: left;
  width: 70%;
  margin:  50px 20px 50px 50px;
  border-radius: 15px;
  border:rgb(0, 0, 0);
  border-style: solid;
  border-width: 4px;
}

.divcamp2{
  background-color: rgb(10, 48, 70);
  margin: 15px 50px 0px 50px;
  border-radius: 15px;
  border:rgb(98, 149, 214);
  border-style: solid;
  border-width: 4px;
  
}
.licamp{
  color: white;
  margin: 10px 25px;
}
.h2camp{
  text-align: center;
  font-size: 30px;
  color: rgb(95, 160, 197);
}
.piecmp{
  background-color: rgba(3, 3, 54, 0.658);
  margin: 20px;
  border-radius: 15px;
}
.imgcamp{
  margin: 80px 0px;
  width: 300px;
  height: 420px;
  border-radius: 15px;
  border:rgb(22, 62, 116);
  border-style:   groove;
  border-width: 7px;
}
/*resena doctor tarr*/
.divtitulodoc{
  background-color: rgb(90, 73, 48);
  border-radius: 15px;
  border:rgba(61, 42, 12, 0.733);
  border-style:solid;
  border-width: 2px;
  margin: 20px 10px;

}
.tituloprincipaldoc{
  color:rgb(237, 243, 151);
  text-align: center;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bodydoc{
  text-align: justify;
  background-image: url(/tarr3.jpg);
  background-size: cover;
}

.divdoc1{
  background-color: rgba(209, 171, 44, 0.774);
  float: left;
  width: 70%;
  margin:  50px 20px 50px 50px;
  border-radius: 15px;
  border:rgb(0, 0, 0);
  border-style: solid;
  border-width: 4px;
}

.divdoc2{
  background-color: rgb(119, 79, 18);
  margin: 15px 50px 0px 50px;
  border-radius: 15px;
  border:rgb(4, 34, 51);
  border-style: solid;
  border-width: 4px;
  
}
.lidoc{
  color: white;
  margin: 10px 25px;
}
.h2doc{
  text-align: center;
  font-size: 30px;
  color: rgb(53, 9, 9);
}

.imgdoc{
  margin: 80px 0px;
  width: 300px;
  height: 420px;
  border-radius: 15px;
  border:rgb(165, 120, 24);
  border-style:   groove;
  border-width: 7px;
}

.piesis{
  background-color: rgba(54, 32, 3, 0.658);
  margin: 20px;
  border-radius: 15px;
}
/*resena los anteojos*/
.divtituloant{
  background-color: rgba(71, 133, 148, 0.801);
  border-radius: 15px;
  border:rgb(12, 15, 61);
  border-style:solid;
  border-width: 2px;
  margin: 20px 10px;

}
.tituloprincipalant{
  color:rgb(8, 46, 49);
  text-align: center;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bodyant{
  text-align: justify;
  background-image: url(/text2.jpg);
  background-size: cover;
}

.divant1{
  background-color: rgba(59, 141, 161, 0.671);
  float: left;
  width: 70%;
  margin:  50px 20px 50px 50px;
  border-radius: 15px;
  border:rgb(0, 0, 0);
  border-style: solid;
  border-width: 4px;
}

.divant2{
  background-color: rgb(4, 34, 51);;
  margin: 15px 50px 0px 50px;
  border-radius: 15px;
  border:rgb(51, 32, 4);
  border-style: solid;
  border-width: 4px;
  
}
.liant{
  color: white;
  margin: 10px 25px;
}
.h2ant{
  text-align: center;
  font-size: 30px;
  color: rgb(163, 97, 36);
}

.imgant{
  margin: 80px 0px;
  width: 300px;
  height: 420px;
  border-radius: 15px;
  border:rgb(19, 96, 116);
  border-style:   groove;
  border-width: 7px;
}

/*resena nunca apuestes*/
.divtitulonun{
  background-color: rgba(84, 136, 148, 0.801);
  border-radius: 15px;
  border:rgb(60, 66, 146);
  border-style:solid;
  border-width: 2px;
  margin: 20px 10px;

}
.tituloprincipalnun{
  color:rgb(18, 20, 53);
  text-align: center;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bodynun{
  text-align: justify;
  background-image: url(/tet4.jpg);
  background-size: cover;
}

.divnun1{
  background-color: rgba(122, 147, 153, 0.671);
  float: left;
  width: 70%;
  margin:  50px 20px 50px 50px;
  border-radius: 15px;
  border:rgb(0, 0, 0);
  border-style: solid;
  border-width: 4px;
}

.divnun2{
  background-color: rgba(16, 15, 48, 0.938);;
  margin: 15px 50px 0px 50px;
  border-radius: 15px;
  border:rgb(228, 164, 225);
  border-style: solid;
  border-width: 4px;
  
}
.linun{
  color: white;
  margin: 10px 25px;
}
.h2nun{
  text-align: center;
  font-size: 30px;
  color: rgb(36, 163, 152);
}

.imgnun{
  margin: 80px 0px;
  width: 300px;
  height: 420px;
  border-radius: 15px;
  border:rgb(19, 58, 116);
  border-style:   groove;
  border-width: 7px;
}
.pienun{
  background-color: rgba(10, 2, 9, 0.658);
  margin: 20px;
  border-radius: 15px;
}
/*************************************************************/
/*cuento bon bon*/
.fondocb{
  background-color: #C0C0C0;
  text-align: justify;
  color: #000044;
}

.h1cb{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 50px;
  color: 	rgb(14, 106, 199);

}
/*cuento los anteojos*/
.fondoca{
  background-color: #A4E666;
  text-align: justify;
  color: black;
}

.h1ca{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 50px;
  color: 		#494d28;

}
/*cuento doctor tarr*/
.fondocdt{
  background-color: #FEB729;
  text-align: justify;
  color:  #00275E;
}

.h1cdt{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 50px;
  color: orangered;
}

/*cuento campanario*/
.fondocc{
  background-color: rgb(29, 1, 1);
  text-align: justify;
  color: white;
}

.h1cc{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 50px;
  color: tomato;

}
/*cuento nunca apuestes*/
.fondocn{
  text-align: justify;
  background-color: rgba(161, 128, 16, 0.651);
  color: rgb(126, 49, 14);  
}

.h1cn{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 50px;
  color: rgb(119, 11, 11);

}  
